body {
  display: flex;
  flex-direction: column;
  align-items: start;
  .app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .date {
      padding: 15px;
      font: 2rem sans-serif;
      width: 100%;
      text-align: center;
    }
    .second-row {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      .button {
        background-color: yellow;
        width: 5rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.is-selected {
          border: 1px solid red;
        }
      }
      .date-type {
        padding: 15px;
        font: 2rem sans-serif;
        text-align: center;
        padding-top: 0;
      }
    }

    .departures {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .departure {
        display: flex;
        justify-content: center;
        gap: 15px;
        border: 0.5px solid black;
        font: 1.5rem roboto;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
